html {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#posts {
    background-color: grey;
    padding: 15px;
    border-radius: 20px;
    height: 1000px;
    color: lightgrey;
}

.post {
    color: black;
    background-color: lightgray;
    padding: 10px;
    border-radius: 30px;
    max-width: 30%;
    margin-bottom: 5px;
}

.post_click {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
}

