html {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#posts {
    margin: 5px;
    background-color: grey;
    padding: 15px;
    border-radius: 20px;
    height: 1000px;
}

.post {
    background-color: lightgray;
    padding: 10px;
    border-radius: 30px;
    max-width: 30%;
}